<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous">
  <link rel="icon" type="images/svg+xml" th:href="@{../../images/stormtrooper.svg}"/>
  <title>Save Employee</title>
</head>
<body>

  <div th:insert="~{fragments/header :: header}"/>

  <div class="container">

    <div th:insert="~{fragments/tabs :: tabs(currentPage='employees')}"/>

    <p class="h4 mb-4">Save Employee</p>
    <form action="#" th:action="@{/view/employees/save}"
          th:object="${employee}" method="POST">

      <label th:hidden="*{id == 0}" for="idInput">#</label>
      <input id="idInput" th:hidden="*{id == 0}" readonly th:field="*{id}"
             class="form-control mb-4 w-25">

      <label for="firstNameInput">First name</label>
      <input id="firstNameInput" type="text" th:field="*{firstName}"
             class="form-control mb-4 w-25" placeholder="First name">

      <label for="lastNameInput">Last name</label>
      <input id="lastNameInput" type="text" th:field="*{lastName}"
             class="form-control mb-4 w-25" placeholder="Last name">

      <label for="emailInput">Email</label>
      <input id="emailInput" type="text" th:field="*{email}"
             class="form-control mb-4 w-25" placeholder="Email">

      <div class="form-group">
        <label for="departmentSelect">Department</label>
        <select class="form-control mb-4 w-25" id="departmentSelect" th:field="*{department}" required>
          <option th:each="department : ${departments}"
            th:value="${department.id}" th:text="${department.name}"></option>
        </select>
      </div>

      <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/view/employees/showList}">Back to Employees List</a>
  </div>
</body>
</html>
