<!DOCTYPE HTML>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
		  rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
		  crossorigin="anonymous">
	<link rel="icon" type="images/svg+xml" th:href="@{../../images/stormtrooper.svg}"/>
	<title>Employee List</title>
</head>

<body>

<div th:insert="~{fragments/header :: header}"/>

<div class="container">

	<div th:insert="~{fragments/tabs :: tabs(currentPage='employees')}"/>

	<a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/view/employees/showFormForAdd}"
	   class="btn btn-primary mb-3">
		Add Employee...
	</a>

	<div class="row row-cols-auto mb-3 align-items-center">
		<label for="limit" class="col">Items per page</label>
		<div class="col">
			<select id="limit" name="limit" class="form-select"
					th:onchange="'window.location.href = \'?page=1&limit=\' + this.value'">
				<option th:selected="${limit == 3}" value="3">3</option>
				<option th:selected="${limit == 5}" value="5">5</option>
				<option th:selected="${limit == 10}" value="10">10</option>
				<option th:selected="${limit == 20}" value="20">20</option>
			</select>
		</div>
	</div>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th><a class="text-decoration-none text-white"
					th:href="@{/view/employees/showList(page=1, limit=${limit}, sortField='id', sortDir=${reverseSortDir})}"
					th:text="'#' + (${sortField} == 'id' ? (${sortDir} == 'asc' ? ' &#x25B2;' : ' &#x25BC;') : '')"/></th>
				<th><a class="text-decoration-none text-white"
				   th:href="@{/view/employees/showList(page=1, limit=${limit}, sortField='firstName', sortDir=${reverseSortDir})}"
				   th:text="'First Name' + (${sortField} == 'firstName' ? (${sortDir} == 'asc' ? ' &#x25B2;' : ' &#x25BC;') : '')"/></th>
				<th><a class="text-decoration-none text-white"
					th:href="@{/view/employees/showList(page=1, limit=${limit}, sortField='lastName', sortDir=${reverseSortDir})}"
					th:text="'Last Name' + (${sortField} == 'lastName' ? (${sortDir} == 'asc' ? ' &#x25B2;' : ' &#x25BC;') : '')"/></th>
				<th><a class="text-decoration-none text-white"
				  	th:href="@{/view/employees/showList(page=1, limit=${limit}, sortField='email', sortDir=${reverseSortDir})}"
				    th:text="'Email' + (${sortField} == 'email' ? (${sortDir} == 'asc' ? ' &#x25B2;' : ' &#x25BC;') : '')"/></th>
				<th><a class="text-decoration-none text-white"
					th:href="@{/view/employees/showList(page=1, limit=${limit}, sortField='department', sortDir=${reverseSortDir})}"
					th:text="'Department' + (${sortField} == 'department' ? (${sortDir} == 'asc' ? ' &#x25B2;' : ' &#x25BC;') : '')"/></th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">

				<td th:text="${tempEmployee.id}" />
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.email}" />
				<td th:text="${tempEmployee.department.name}" />
				<td>
					<!-- add update button-->
					<a sec:authorize="hasRole('ROLE_MANAGER')"
					   th:href="@{/view/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
					   class="btn btn-info btn-sm">
						Edit...
					</a>
					<!-- add delete button-->
					<a sec:authorize="hasRole('ROLE_ADMIN')"
					   th:href="@{/view/employees/delete(employeeId=${tempEmployee.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
						Delete
					</a>
					<span class="text-secondary" sec:authorize="!hasRole('ROLE_ADMIN') and !hasRole('ROLE_MANAGER')">Not available</span>
				</td>
			</tr>
		</tbody>		
	</table>

	<nav th:if="${totalPages} > 1">
		<ul class="pagination">
			<li class="page-item" th:classappend="${page == 1 ? 'disabled' : ''}">
				<a class="page-link" th:href="@{/view/employees/showList(page=1, limit=${limit}, sortField=${sortField}, sortDir=${sortDir})}">
					First</a>
			</li>
			<li class="page-item" th:classappend="${page == 1 ? 'disabled' : ''}">
				<a class="page-link" th:href="@{/view/employees/showList(page=${page - 1}, limit=${limit}, sortField=${sortField}, sortDir=${sortDir})}">
					Previous</a>
			</li>
			<li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
				th:classappend="${page == i ? 'active' : ''}">
				<a class="page-link" th:href="@{/view/employees/showList(page=${i}, limit=${limit}, sortField=${sortField}, sortDir=${sortDir})}" th:text="${i}"></a>
			</li>
			<li class="page-item" th:classappend="${page == totalPages ? 'disabled' : ''}">
				<a class="page-link" th:href="@{/view/employees/showList(page=${page + 1}, limit=${limit}, sortField=${sortField}, sortDir=${sortDir})}">
					Next</a>
			</li>
			<li class="page-item" th:classappend="${page == totalPages ? 'disabled' : ''}">
				<a class="page-link" th:href="@{/view/employees/showList(page=${totalPages}, limit=${limit}, sortField=${sortField}, sortDir=${sortDir})}">
					Last</a>
			</li>
		</ul>
	</nav>
	
</div>
	
</body>
</html>
